{% extends 'layout.html' %}
{%block body_class%}pagina-referencias{%endblock%}
{% block tittle %}
Ivan Escobar - Referencias
{% endblock %}

{% block body %}
<div class="contenedor-referencias">
    <h1>Referencias</h1>
    <div class="referencias">
        <article>
            <h2>Matias Vusurovich</h2>
            <p><strong> Puesto:</strong> Dueño</p>
            <p><strong> Empresa:</strong> Quimica Carnerillo</p>
            <p><strong> Contacto:</strong> +5435848277772</p>
        </article>
        <article>
            <h2>Enrique Brizuela</h2>
            <p><strong>Puesto:</strong> Representante legal</p>
            <p><strong>Empresa:</strong> Instituto Tecnologico Rio Cuarto</p>
            <p><strong>Contacto:</strong> +543584643036</p>
        </article>
        <article>
            <h2>Guillermo Mojica</h2>
            <p><strong>Puesto:</strong> Supervisor Directo</p>
            <p><strong>Empresa:</strong> Correo Oficial de la Republica Argentina S.A.</p>
            <p><strong>Contacto:</strong> +543585088304</p>
        </article>
    </div>
</div>
{% endblock %}
