{% extends 'layout.html' %}
{%block body_class%}pagina-datos-personales{%endblock%}
{% block tittle %}
Datos Personales - Ivan Escobar
{% endblock %}

{% block body %}
<h1>Datos Personales</h1>    
<div class="contenedor-datos">
    <img src="{{ url_for('static', filename='img/mifoto.jpg') }}" alt="Foto de Ivan Escobar"> 
    <div class="texto-datos">
        <p><strong>Nombre:</strong> Ivan Daniel Escobar</p>
        <p><strong>Fecha de Nacimiento:</strong> 15/07/1999</p>
        <p><strong>Dirección:</strong> Pasaje Obregon 597, Rio Cuarto, Cordoba, Argentina</p>
        <p><strong>Disponibilidad horaria:</strong> Full Time</p>
    </div>
</div>
{% endblock %}



