{% extends 'layout.html' %}
{%block body_class%}pagina-educacion{%endblock%}
{% block tittle %}
Ivan Escobar - Intereses
{% endblock %}

{% block body %}
<div class="contenedor-educacion">
    <h2>Educacion</h2>
    <div class="educacion-lista">    
        <article>
            <h3>Tecnicatura Superior en Desarrollo de Software</h3>
            <p>Institución: Instituto Tecnologico Rio Cuarto, Ingreso 2019 - Trancision a otras actividades 2020 - Reingreso 2025</p>
        </article>

        <article>
            <h3>Licenciatura en Ciencias de la Comunicacion</h3>
            <p>Institución: Universidad Nacional de Rio Cuarto, Ingreso 2018 - Cambio de enfoque 2019 </p>
        </article>

        <article>
            <h3>Bachiller en Ciencias Sociales y Humanidades</h3>
            <p>Institución: Instituto Superior Jeronimo Luis de Cabrera, Ingres 2012 - Finalizado 2017</p>
        </article>
    </div>
</div>
{% endblock %}
