{% extends 'layout.html' %}
{%block body_class%}pagina-experiencia{%endblock%}
{% block tittle %}
Ivan Escobar - Experiencia Profesional
{% endblock %}

{% block body %}
<div class="contenedor-experiencia">
    <h2>Experiencia Profesional</h2>
    <div class="experiencia-lista">
        <article>
            <h3>Correo Oficial de la Republica Argentina S.A.</h3>
            <p>Puesto: Auxiliar, 2020 - Presente</p>
            <p>Descripción: Desempeño tareas operativas en el área de logística, incluyendo la
                carga y descarga de camiones y camionetas, clasificación de
                encomiendas por destino, armado y desarmado de pallets y sacos
                para su distribución. Además, realizo el rescate de encomiendas con
                solicitud de devolución, asegurando un flujo eficente y organizado
                de los envíos.</p>
        </article>
        <article>
            <h3>ITEC</h3>
            <p>Puesto: Ayudante tecnico, 2019 - 2019</p>
            <p>Descripción: Colaboré en el mantenimiento de laboratorios informáticos, realizando tareas de soporte técnico, configuración
                de equipos y asegurando el correcto funcionamiento de hardware y software.</p>
        </article>
        <article>
            <h3>Quimica Carnerillo</h3>
            <p>Puesto: Empleado de Comercio, 2016 - 2017</p>
            <p>Descripción: Atención al cliente y ventas, asesorando sobre
                productos, reposición de stock y control de mercadería. Además,
                el mantenimiento del orden y la gestión de caja.</p>
        </article>
    </div>
</div>
{% endblock %}
