{% extends 'layout.html' %}
{%block body_class%}pagina-intereses{%endblock%}
{% block tittle %}
Ivan Escobar - Intereses
{% endblock %}

{% block body %}
<div class="contenedor-intereses">
    <h1>Intereses:</h1>
        <ul class="iconos-intereses">
            <li><i class="fas fa-code"></i> Programacion</li>
            <li><i class="fas fa-camera"></i> Fotografía</li>
            <li><i class="fas fa-futbol"></i> Futbol</li>
            <li><i class="fas fa-gamepad"></i> Videojuegos</li>
        </ul>
</div>
{% endblock %}
